.list {
    gap: 10px;
    display: grid;
}

.list > li:has(strong) {
    margin-left: 20px;
    padding-left: 10px;
    &::marker {
        content: counter(list-item) "› ";
        color: blue;
    }
}
