.header {
    padding: 5px 0;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:has(input:checked) {
        .menu {
            opacity: 1;
            z-index: 10;
            visibility: visible;
        }
    }
}

.logo {
    max-width: 50px;
    aspect-ratio: 1/1;
    border-radius: 20%;
}

.menu {
    position: fixed;
    visibility: hidden;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    transition: opacity 1s ease 0s;
    opacity: 0;
    inset: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);

    @media (min-width: 768px) {
        visibility: visible;
        position: inherit;
        display: flex;
        translate: 0;
        flex-direction: row;
        align-items: center;
        opacity: 1;
        background: none;
        gap: 10px;
        justify-content: right;
        font-size: inherit;
        z-index: inherit;
    }
}

.link {
    color: #000;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        background-color: #16825c;
        transition: 0.3s;
    }
    &::before {
        bottom: 0;
        left: 0;
    }
    @media (min-width: 1281px) {
        &:hover::before {
            width: 100%;
        }
    }
}

.burgerMenuBtn {
    & input {
        display: none;
    }

    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 20;

    & span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #16825c;
        transition: all 0.5s ease 0s;
        top: 50%;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #16825c;
        transition: all 0.5s ease 0s;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }

    &:has(input:checked) {
        &::after {
            transition: rotate 0.5s ease 0s;
            top: 50%;
        }
        & span {
            rotate: 45deg;
        }
        &::after {
            rotate: -45deg;
        }
        &::before {
            opacity: 0;
        }
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.basketBtn {
    display: flex;
}

.basketContainer {
    position: relative;
    @media (min-width: 1281px) {
        &:hover {
            .basketContent {
                display: table;
                opacity: 1;
                transition-behavior: allow-discrete;
                transition-duration: 1.5s;
                transition-property: display opacity;

                @starting-style {
                    display: table;
                    opacity: 0;
                }
            }
        }
    }
}

.basketContent {
    transition-behavior: allow-discrete;
    transition-duration: 1.5s;
    transition-property: display opacity;
    opacity: 0;
    display: none;
    width: max-content;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    th,
    td {
        padding: 5px 10px;
    }
}

.basketWrapper {
    position: absolute;
    padding-top: 10px;
    z-index: 30;
    top: 100%;
    right: 0;
}
